.tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-block;
    background-color: rgba(255, 96, 96, 1);
    height: 25px;
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 24px;
}