.collapse-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    background-color: #ff6060;
    border-radius: 5px;
    color: white;
    margin: 0;
}
.collapse-title img {
    rotate: 0deg;
    transition: all ease 0.3s;
}
.collapse-title img.opened {
    rotate: 180deg;
    transition: all ease 0.3s;
}

.collapse-content {
    background-color: rgba(246, 246, 246, 0.45);
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.collapse-content p {
    margin: 0; 
}

.collapse {
    padding-bottom: 30px;
    width: 80%;
    padding-left: 130px;
}