.collapse-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    background-color: #ff6060;
    border-radius: 5px;
    color: white;
    margin: 0;
}

.collapse-content {
    /* background-color: rgba(246, 246, 246, 0.45); */
    background-color: gray;
    padding: 20px;
}

.collapse-content p {
    margin: 0;
}

