.house-container {
    padding-bottom: 0px;
}

.house-container .responsive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.house-container .responsive-container .title-location-tags-container {
    display: flex;
    flex-direction: column;
    flex: 70;
    justify-content: space-between;
}

.house-title {
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #ff6f6f;
    margin: 18px 0 0 0;
}

.house-location {
    font-size: 18px;
    margin-top: auto;
}

.collapse-house {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.collapse-house .collapse {
    padding-left: 0;
    padding-bottom: 0;
}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.house-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 1;
}

.tags-host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.host-stars-container {
    display: flex;
    flex-direction: column;
    flex: 30;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 21px;
    order: 0; /* Ordre par défaut*/
}

.slideshow {
    margin-bottom: 20px;
}

.collapse-house .collapse .collapse-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

/* Styles pour les écrans avec une largeur maximale de 600px (smartphones) */
@media (max-width: 600px) {
    .house-container {
        padding: 0px;
    }

    .house-container .responsive-container {
        flex-direction: column;
    }

    .house-title {
        font-size: 24px;
        margin: 10px 0px;
    }

    .house-location {
        font-size: 14px;
        font-weight: 500;
    }

    .collapse-house {
        display: flex;
        flex-direction: column;
        gap: 20px;
        order: 3;
    }
    .collapse-house .collapse {
        padding-left: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .tags-host-container {
        flex-direction: column;
    }

    .host-stars-container {
        order: 2; /* Déplacer le conteneur entre les tags et les collapses */
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .host-stars-container .stars {
        justify-content: flex-start;
    }

    .title-location {
        gap: 0;
    }

}