.house-container {
    padding: 20px;
}

.house-title {
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #ff6f6f;
}

.house-location {
    font-size: 18px;
    margin-bottom: 20pxs;
}

.collapse-house {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.collapse-house .collapse {
    padding-left: 0;
}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.house-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-location {
    flex-grow: 1;
}

.tags-host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
