.house-container {
    padding: 20px;
    padding-bottom: 0px;
}

.house-title {
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #ff6f6f;
    margin: 10px;
}

.house-location {
    font-size: 18px;
    margin-top: auto;
}

.collapse-house {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.collapse-house .collapse {
    padding-left: 0;
    padding-bottom: 0;
}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.house-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-location {
    flex-grow: 1;
}

.tags-host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.host-stars-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.slideshow {
    margin-bottom: 20px;
}

.collapse-house .collapse .collapse-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

/* Styles pour les écrans avec une largeur maximale de 600px (smartphones) */
@media (max-width: 600px) {
    .house-container {
        padding: 0px;
    }

    .house-title {
        font-size: 24px;
        margin: 10px 0px;
    }

    .house-location {
        font-size: 14px;
        font-weight: 500;
    }

    .collapse-house {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .collapse-house .collapse {
        padding-left: 0;
        padding-bottom: 0;
        width: 100%;
    }
    }