.card-container {
    background-color: #f6f6f6;
    border-radius: 45px;
    margin-top: 43px;
    padding: 50px 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    width: 100%;
    position: relative;
    margin-bottom: 20px; /* Ajoute un espace en bas pour les nouvelles lignes */
    border-radius: 10px; /* Ajoute un rayon de bordure aux cartes */
    overflow: hidden; /* Assure que le contenu ne dépasse pas les bords des cartes */
    display: flex;
    flex-direction: column; /* Assure que le contenu est empilé verticalement */
    align-items: center; /* Centre le contenu horizontalement */ 
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.card-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%; /*maintient la forme carré*/
    overflow: hidden;
}

.card-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}